/* Basic styling */
body { font-family: Arial, sans-serif; background: #eae2b7; margin: 0; }
header { background: #003049; color: white; padding: 10px; display: flex; align-items: center; justify-content: space-between;text-decoration: none; }
header .btn { background: #f77f00; color: white; border: none; padding: 8px; border-radius: 5px; cursor: pointer; margin-left: 5px; text-decoration: none;}
main { padding: 20px; max-width: 800px; margin: auto; }
section { background: white; padding: 15px; margin-bottom: 20px; border-radius: 8px; border: 1px solid #ccc; }
input, select, textarea, button { width: 100%; margin: 8px 0; padding: 10px; box-sizing: border-box; border-radius: 5px; border: 1px solid #ccc; }
ul { list-style: none; padding: 0; }
li { margin-bottom: 10px; padding: 10px; background: #fcbf49; border-left: 5px solid #003049; border-radius: 4px; }
.logout-btn { background: #d62828; color: white; height: 40px;width: 335px; border: none; border-radius: 5px; cursor: pointer; font-size: 15px; }
.toast { position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); background: #003049; color: white; padding: 10px 20px; border-radius: 5px; display: none; z-index: 999; }
.btn {
  width: 50px;
  height: 50px;
  font-size: 12px;
}
.buy-btn {
  padding: 0.5rem 1rem;
  width:500px;
  font-weight: bold;
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.buy-btn:hover {
  background-color: darkblue;
}
.review-box {
  margin-top: 10px;
  background: #fcbf49;
  padding: 10px;
  border-radius: 8px;
}

.review-box select,
.review-box textarea {
  width: 100%;
  margin: 4px 0;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003049;
  color: white;
  cursor: pointer;
  padding: 12px 20px;
  width: 80%;
  margin-left: 40px;
  border: none;
  font-size: 18px;
  text-align: left;
  outline: none;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.collapsible:hover {
  background-color: #d62828;
}

.collapsible.active {
  background-color: #f77f00;
}

.content {
  max-height: 0;
  overflow-y: auto;
  transition: max-height 0.35s ease-out;
  background-color: #fcbf49;
  padding: 0 20px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 15px;
}
.content p, .content div {
  margin: 15px 0;
}
.user-Details{
  background: linear-gradient(135deg, #fcbf49, #f77f00);
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 20px;
  margin: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  color: white;
}
.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}
.refunded-voucher {
  border: 1px solid #d62828;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #fcbf49;
  border-radius: 5px;
}
